/*
* @Author: 陆飞
* @Date:   2017-10-13 15:58:42
*/
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

img {max-width: 100%; -ms-interpolation-mode:bicubic; border: none;}

p, h1, h2, h3, h4, h5, h6 {margin: 0; padding: 0;}

table{ border-collapse:collapse; border-spacing:0; }

ol, ul, li, dl, dt, dd{padding: 0; margin: 0; list-style: none;}

input,textarea,select{ font-family:inherit; font-size:inherit; font-weight:inherit; *font-size:100%; resize: none; -webkit-tap-highlight-color:rgba(0, 0, 0, 0); border: none;}

a{color: inherit; -webkit-tap-highlight-color:rgba(0, 0, 0, 0); text-decoration: none;}

input:focus, button:active, textarea:focus, select:focus, a:active{outline: none; }

input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{-webkit-appearance: none; appearance: none;}

input[type="number"] {-moz-appearance: textfield;}

body{max-width: 640px; margin: 0 auto; background: #f9f9f9; font-family: Microsoft YaHei,'宋体',Tahoma,Arial,sans-serif;}

.clearfix:after{content:""; display:block; visibility:hidden; height:0; clear:both;}

.clearfix{zoom:1;}

* {box-sizing: border-box;}

::-webkit-scrollbar-track {background-color: transparent;}

::-webkit-scrollbar {width: 0; height: 0; background-color: transparent;}

::-webkit-scrollbar-thumb {background-color: transparent;}

.fl { float: left;}
.fr { float: right;}
.fn { float: none;}

.hide{display: none;}
.inline{display: inline-block;}
.block{display: block;}
.relative{position: relative;}

.txtL { text-align: left;}
.txtC { text-align: center;}
.txtR { text-align: right;}

.font16 { font-size: 0.16rem!important;}
.font18 { font-size: 0.18rem!important;}
.font20 { font-size: 0.2rem!important;}
.font22 { font-size: 0.22rem!important;}
.font24 { font-size: 0.24rem!important;}
.font25 { font-size: 0.25rem!important;}
.font26 { font-size: 0.26rem!important;}
.font28 { font-size: 0.28rem!important;}
.font30 { font-size: 0.3rem!important;}
.font32 { font-size: 0.32rem!important;}

.weight{font-weight: bold;}
.f-s-n{font-style: normal;}
.weight-n{font-weight: normal!important;}

.b-n{border: none!important;}
.b-t-n{border-top: none!important;}
.b-l-n{border-left: none!important;}
.b-r-n{border-right: none!important;}
.b-t-n{border-bottom: none!important;}

.p-xxs {padding: 0.05rem;}
.p-xs {padding: 0.1rem;}
.p-sm {padding: 0.15rem;}
.p-m {padding: 0.20rem;}
.p-md {padding: 0.25rem;}
.p-lg {padding: 0.3rem;}
.p-n {padding: 0!important;}

.p-l-n {padding-left: 0;}
.p-l-xs {padding-left: 0.05rem;}
.p-l-sm {padding-left: 0.1rem;}
.p-l {padding-left: 0.15rem;}
.p-l-md {padding-left: 0.2rem;}
.p-l-lg {padding-left: 0.3rem;}

.p-t-n {padding-top: 0;}
.p-t-xxs {padding-top: 0.05rem;}
.p-t-xs {padding-top: 0.1rem;}
.p-t-sm {padding-top: 0.15rem;}
.p-t {padding-top: 0.2rem;}
.p-t-md {padding-top: 0.25rem;}
.p-t-lg {padding-top: 0.3rem;}

.p-r-n {padding-right: 0;}
.p-r-xxs {padding-right: 0.05rem;}
.p-r-xs {padding-right: 0.1rem;}
.p-r-sm {padding-right: 0.15rem;}
.p-r {padding-right: 0.2rem;}
.p-r-md {padding-right: 0.25rem;}
.p-r-lg {padding-right: 0.3rem;}

.p-b-n {padding-bottom: 0;}
.p-b-xxs {padding-bottom: 0.05rem;}
.p-b-xs {padding-bottom: 0.1rem;}
.p-b-sm {padding-bottom: 0.15rem;}
.p-b {padding-bottom: 0.2rem;}
.p-b-md {padding-bottom: 0.25rem;}
.p-b-lg {padding-bottom: 0.3rem;}

.m-xxs {margin: 0.05rem;}
.m-xs {margin: 0.1rem;}
.m-sm {margin: 0.15rem;}
.m {margin: 0.2rem;}
.m-md {margin: 0.25rem;}
.m-lg {margin: 0.3rem;}

.m-n {margin: 0!important;}
.m-l-n {margin-left: 0;}
.m-l-xxs {margin-left: 0.05rem;}
.m-l-xs {margin-left: 0.1rem;}
.m-l-sm {margin-left: 0.15rem;}
.m-l {margin-left: 0.2rem;}
.m-l-md {margin-left: 0.25rem;}
.m-l-lg {margin-left: 0.3rem;}

.m-t-n {margin-top: 0;}
.m-t-xxs {margin-top: 0.05rem;}
.m-t-xs {margin-top: 0.1rem;}
.m-t-sm {margin-top: 0.15rem;}
.m-t {margin-top: 0.2rem;}
.m-t-md {margin-top: 0.25rem;}
.m-t-lg {margin-top: 0.30rem;}

.m-r-n {margin-right: 0;}
.m-r-xxs {margin-right: 0.05rem;}
.m-r-xs {margin-right: 0.1rem;}
.m-r-sm {margin-right: 0.15rem;}
.m-r {margin-right: 0.2rem;}
.m-r-md {margin-right: 0.25rem;}
.m-r-lg {margin-right: 0.3rem}

.m-b-n {margin-bottom: 0;}
.m-b-xxs {margin-bottom: 0.05rem;}
.m-b-xs {margin-bottom: 0.1rem;}
.m-b-sm {margin-bottom: 0.15rem;}
.m-b {margin-bottom: 0.2rem;}
.m-b-md {margin-bottom: 0.25rem;}
.m-b-lg {margin-bottom: 0.3rem;}

.bg-white { background-color: #fff;}
.bg-gray { background-color: #f9f9f9;}
.bg-blue { background-color: #50b4f9;}
.bg-pink { background-color: #FA729A;}

.white { color: #fff;}
.gray { color: #999;}
.blue { color: #50b4f9;}
.pink { color: #FA729A;}
.darkpink { color: #FAA4BF;}

.full{width: 100%;}
.half{width: 50%;}
.quarter{width: 25%;}
.twenty{width: 20%;}

.ver-t{vertical-align: top}
.ver-m{vertical-align: middle}

.overflow{overflow: hidden;}
.overflow-y{overflow-y: auto;}
.overflow-x{overflow-x: auto;}
.overflow-point{white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

/*黑色透明被禁锢*/
.bg{width: 100%; position: fixed; left: 0; top: 0; bottom: 0; background: #000; background: rgba(0,0,0,0.7); z-index: 8;}

.container{padding: 0.8rem 0 1.1rem 0;}

/*公共头部*/
.header{width: 100%; height: 0.8rem; line-height: 0.8rem; color: white; text-align: center; background: #FA729A;}
.header.fixed{position: fixed; top: 0; left: 0; z-index: 19;}
.header a.back{position: absolute; top: 0; left: 0.2rem;}
.header a.meun{max-width: 1.5rem; position: absolute; top: 0; right: 0.2rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

/*公共底部菜单*/
.footer{width: 100%; position: fixed; bottom: 0; left: 0; z-index: 4; background: white; box-shadow: 0 -2px 10px #d1c9c9;}
.footer a{width: 25%; float: left; line-height: 0.8rem; color: #7d7b7b;}
.footer a:active{background: #F5F5F5;}
.footer a.active{color: #FA729A;}
.footer span{display: inline-block; width: 100%; line-height: 0.35rem; text-align: center; vertical-align: middle;}
.footer i{display: block; width: 100%; font-size: 0.32rem;}

